$primaryColor: #212121;
$secondaryColor: #757575;
$primarybgColor: #F5F4FA;



.benefits {



    &__list {


        display: flex;
            justify-content: space-between;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            gap: 30px;            
            flex-wrap: wrap;
        
            


       
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            
        }
        
        
        
        
       
      
                
        
    }
    
        



    &__content { 
        
        
       
                display: flex;
                align-items: center;
                justify-content: center;
                
                height: 120px;
                background-color: $primarybgColor;
                border-radius: 4px;
                margin-bottom: 30px;
        
        
            
        
        

            
        @media screen and (min-width:768px) {
                display: flex;
                align-items: center;
                justify-content: center;
                
                height: 120px;
                background-color: $primarybgColor;
                border-radius: 4px;
                margin-bottom: 30px;
                
        
            }
            
        
        
        
       
        @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 120px;
        background-color: $primarybgColor;
        border-radius: 4px;
        margin-bottom: 30px;

      }
       

    
    }


    

    &__icon {
        width: 70px;
        height: 70px;
    }


    &__title {        
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-size: 14px;
            letter-spacing: 0.03em;
            margin-top: 0;
            font-weight: 700;
            line-height: 1.1;
            text-transform: uppercase;
            color: $primaryColor;
            margin-bottom: 10px;
            text-align: center;


           

    }

    
            
       
    

    &__text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        margin-top: 0;
        font-weight: 400;
        line-height: 1.7;
        color: $secondaryColor;
        margin-bottom: 0;



        
        
        


    }



   



}




@media screen and (min-width: 768px) and (max-width: 1199px) {
    .benefits__list, .benefits__item {
        flex-basis: calc(50% - 30px);


    }
}



@media screen and (min-width: 1200px) {
    .benefits__list, .benefits__item {
            flex-basis: calc(25% - 30px);
            
           

}

}


@media screen and (min-width: 768px) {
    .benefits__title {
        
        text-align: left;

    }


}


@media screen and (min-width: 1200px) {
    .benefits__title {
        text-align: left;

    }


}



















 