$primaryColor: #212121;
$secondaryColor: #757575;
$primarybgColor: #F5F4FA;

%align {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: 0;
}

.benefits {
    

    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        gap: 30px;
        
        
        
        
        
        
        }
        


        
                
                    
                    
        

       

        

    




    
    
       &__item {
        display: flex;
        flex-wrap: wrap;


       }







    &__content {
        
        
       
        
            
        
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        background-color: $primarybgColor;
        border-radius: 4px;
        margin-bottom: 30px;
        }


    

    &__icon {
        width: 70px;
        height: 70px;
    }


    &__title {
        @extend %align;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
        color: $primaryColor;
        margin-bottom: 10px;
    }

    &__text {
        @extend %align;
        font-weight: 400;
        line-height: 1.7;
        color: $secondaryColor;
        margin-bottom: 0;


    }


}    















