$backgroundColor: #188ce8;
$primaryColor: #ffffff;
$borderColor: #000000;
$colorBlue: #2196F3;



.modal-button {

    & {
               
        
        
            display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-left: auto;
                max-width: 450px;
                height: 609px;
                background-color: $primaryColor;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
        
        
        

        @media screen and (min-width:768px) {
                display: flex;
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translate(-50%, 0);
                margin-left: auto;
                width: 450px;
                height: 609px;
                background-color: $primaryColor;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            }
        
        
        @media screen and (min-width:1200px) {
            display: flex;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            margin-left: auto;
            width: 528px;
            height: 581px;
            background-color: $primaryColor;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        }
        





    
    }
    
    &__close {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            border: none;
            background-color: transparent;
            padding: 0;
            cursor: pointer;
            border: $borderColor;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            background-color: inherit;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
    
    
        }
    
        &__icon {
            width: 18px;
            fill: currentColor;
    
        }
    
    
    
    
    
        &__close:hover,
        &__close:focus {
            box-shadow: none;
            color: $colorBlue;
    
    
        }

}




.button__modal {
    
    & {
            
        display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 50px;
            border: none;
            background-color: $colorBlue;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.06em;
            color: $primaryColor;
            cursor: pointer;
            margin-top: 30px;
            padding: 0;
            transition-property: color background-color box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            text-transform: none;
    
    
        }
    
    
        &:hover,
        &:focus {
            background-color: $backgroundColor;
            cursor: pointer;
    
        }

}








