$primaryColor: #212121;
$borderColor: #AFB1B8;
$colorBlue: #2196F3;


.clients-caption {

    @media screen and (min-width:480px) {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primaryColor;
        margin-top: 0%;
        margin-bottom: 30px;
    
    
    }


    


    @media screen and (min-width:768px) {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primaryColor;
        margin-top: 0%;
        margin-bottom: 30px;
        
    
    }


    @media screen and (min-width:1200px){
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primaryColor;
        margin-top: 0%;
        margin-bottom: 50px;
        
    }
    
}




.clients-list {
    @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
    
    
    
        }
    
    @media screen and (min-width:480px) {
        display: flex;
        flex-wrap: wrap;
    
    
    
    }



    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;

   




    &:focus,
    &__link:focus,
    &:hover &__link:hover {
        border-color: $colorBlue;
        color: $colorBlue;
        fill: currentColor;

    }



    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);



    }

    &__link {


        @media screen and (min-width:480px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 92px;
            border: 1px solid $borderColor;
            border-radius: 4px;
            border-color: rgba(175, 177, 184, 1);
            fill: rgba(175, 177, 184, 1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        }


        @media screen and (min-width:768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 92px;
            border: 1px solid $borderColor;
            border-radius: 4px;
            border-color: rgba(175, 177, 184, 1);
            fill: rgba(175, 177, 184, 1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        }
        
        
        
        @media screen and (min-width:1200px){
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;            
            height: 92px;
            border: 1px solid $borderColor;
            border-radius: 4px;
            border-color: rgba(175, 177, 184, 1);
            fill: rgba(175, 177, 184, 1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        }
        
        



    }


    &__item {

        @media screen and (min-width:480px) {
            flex-basis: calc(100% / 2 - 30px);
                margin-right: 30px;
                margin-bottom: 30px;
        
            }



        @media screen and (min-width:768px) {
            flex-basis: calc(100% / 3 - 30px);
                margin-right: 30px;
                margin-bottom: 30px;
        
            }

        
        
        
        
        
        @media screen  and (min-width:1200px){
            flex-basis: auto;
            margin-right: 30px;
            
        }
        


    }



    &__item:last-child {




        



        @media screen and (min-width:1200px) {
            margin-right: 0;
        }
    }    


}