$primaryColor: #212121;
$borderColor: #AFB1B8;
$colorBlue: #2196F3;


.clients-caption {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primaryColor;
    margin-top: 0%;
    margin-bottom: 50px;
}


%clients {
    display: flex;
    justify-content: center;
    align-content: center;
}

.clients-list {
    @extend %clients;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;

        &:focus,
        &__link:focus,
        &:hover &__link:hover {
            border-color: &colorBlue;
            color: $colorBlue;
            fill: currentColor;
    
        }
    
    
    
        &__image {
            @extend %clients;
            width: 106px;
            height: 60px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
        }
    
        &__link {
            @extend %clients;
            width: 170px;
            height: 92px;
            border: 1px solid $borderColor;
            border-radius: 4px;
            border-color: rgba(175, 177, 184, 1);
            fill: rgba(175, 177, 184, 1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
        }
    
    
        &__item {
            margin-right: 30px;
    
    
        }
    
    
    
        &__item:last-child {
            margin-right: 0;
        }


}

