$whiteColor: #FFFFFF;
$blueColor: #2196f3;
$backgroundColor: #188ce8;
$bgColor: #2F303A;


.page-footer {
    background: $bgColor;
    padding-top: 60px;
    padding-bottom: 60px;

}

%logo {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}



.footer-logo {
    @extend %logo;
    color: $whiteColor;
    


    &__lable {
        @extend %logo;
        color: $blueColor;
            
    
    }


}

%contact {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;       
    text-decoration: none;

}


.footer-contacts {
    display: flex;
    


    &__list {
            padding-left: 0;
            margin-top: 20px;
            margin-bottom: 0%;
    
        }
    
        &__item {
            margin-bottom: 9px;
        }
    
    
        &__link {
            @extend %contact;
            line-height: 1.7;           
            text-decoration: none;
            color: $whiteColor;
    
    
        }
    
    
    
        &__mail {
            @extend %contact;
            line-height: 2;
            color: rgba(255, 255, 255, 0.6);
            
    
    
        }
    
    
    
        &__tel {
            @extend %contact;
            line-height: 2;
            color: rgba(255, 255, 255, 0.6);
            
    
    
        }
}

%textsend {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}


.social-networks {
    margin-left: 70px;
    
    &__list {
            display: flex;
            padding: 0;
    
        }
    
        &__item {
            display: block;
            margin-right: 10px;
    
        }
    
        &__item:last-child {
            margin-right: 0;
        }
    
    
        &__icon {
            width: 20px;
            height: 20px;
    
        }
    
    
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            background-color: rgba(255, 255, 255, 0.1);
            fill: $whiteColor;
            border-radius: 50%;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
    
    
        &__link:hover,
        &__link:focus {
            background-color: $blueColor;
            
        }
    
    
        &__title {
            @extend %textsend;
            color: $whiteColor;
            margin-bottom: 20px;
    
    
        }


}




.send {
    margin-left: auto;


    &-text {
        @extend %textsend;
        color: $whiteColor;
        display: block;
    
    
    
    
    }

}







.search-form__send {
    display: flex;
    align-items: center;

    &-input {
            display: flex;
            align-items: center;
            min-width: 358px;
            height: 50px;
            padding: 0;
            padding-left: 16px;
            margin-right: 12px;
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
    
    
    
        }
    
    
        &-input:focus {
            border: 1px solid rgba(255, 255, 255, 0.3);
            outline: none;
    
        }


}





.button-send {

    & {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        padding: 10px 28px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        background-color: $blueColor;
        color: $primaryColor;
        transition-property: color background-color box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



    }



    &:hover,
    &:focus {
        background-color: $backgroundColor;
        cursor: pointer;


    }


    &__image {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        fill: $primaryColor;
    }

}