

$primaryColor: #2196F3;
$whiteColor: #ECECEC;
$blackColor: #000000;
$secondaryblackColor: #212121;
$greyColor: #757575;




.header {
     border-bottom: 1px solid $whiteColor;



    &-inner {
        display: flex;
        height: 60px;
        align-items: center;
        
        
    }

         @media screen and (min-width:767px) {                    
            display: flex;
            height: 80px;
            align-items: center;
                    
            
            }

            
    
        

}





.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;    
    color: $blackColor;

    

   

    @media screen and (min-width:768px) {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        margin-right: 87px;
        color: $blackColor;
            
                
    
        }


                @media screen and (min-width:1200px) {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 1.19;
                    letter-spacing: 0.03em;
                    text-decoration: none;
                    margin-right: 93px;
                    color: $blackColor;
        
        
        
                }

   
    

    &-lable {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;        
        font-size: 24px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: $primaryColor;



        @media screen and (min-width:768px) {
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                text-decoration: none;
                color: $primaryColor;
        
        
        
            }



       


       
    
    
    }


}



    







.menu-container {
    @media screen and (max-width:767px) {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;        
        background-color: #FFFFFF;
        overflow-y: scroll;
        z-index: 999;

        &.is-open {
            display: flex;
            
        }
    }
}

.menu-mobie-container {
    @media screen and (max-width:767px) {
        position: relative;
       padding-top: 48px;
        width: 100%;        
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        
    }

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-container-button {
    position: absolute;
    top: 8px;
    right: 15px;
    margin-left: auto;    
    padding: 0;
    background-color:#FFFFFF;
    border: 1px solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    
        
    
    
    

    @media screen and (min-width:768px) {
        display: none;
        
    }
}


.menu-mobile-button {
    padding: 0;
    margin-left: auto;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    cursor: pointer;         
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
    
    


    @media screen and (min-width:768px) {
        display: none;
    }
}

.icon-mobile-close {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

    

    .menu-container-button:hover &,
    .menu-container-button:focus & {
        fill: $primaryColor;
        
        
    }

    .menu-mobile-button & {
        display: none;
    }

    .menu-mobile-button.is-open & {
        display: block;
    }
}





.icon-mobile-open { 
    transition-property: fill;        
    transition-duration: 250ms;        
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
    

    .menu-mobile-button:hover &,
    .menu-mobile-button:focus & {
        fill: $primaryColor;
        
    }

    .menu-mobile-button, .is-open & {
        display: none;
    }
}





 
.nav {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    


   
    

    


    @media screen and (max-width:768px) {
        .nav {
            display: block;
            padding-top: 16px;
            padding-bottom: 306px;
            margin: 0;

        }
           
            
            
    }


        @media screen and (min-width:768px) {
            .nav {
                
                padding-left: 0px;
                
    
            }
    
    
    
        }
    
    




    & &__link {
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


            @media screen and (min-width:767px) {
                font-size: 14px;
                line-height: 1.14;
                
                }
    
        }
           
    
        &__item {
            display: flex;
            text-align: center;
            margin-right: 50px;  
            
            @media screen and (max-width: 767px) {                    
                margin-bottom: 32px;
            }



            


            



            






    
        }


                @media screen and (max-width: 767px) {
                    &__item:last-child {
                        margin-bottom: 0px;
        
                    }
        
                }
        



    
        &__item:last-child {
            margin-right: 0;
    
        }
    
        &__link {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
                font-weight: 500;                
                font-size: 40px;
                line-height: 1.175;
                letter-spacing: 0.02em;
                text-decoration: none;
                color: #212121;


          



            @media screen and (min-width:1200px) {

                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 1.1;
                letter-spacing: 0.02em;
                text-decoration: none;
                color: $secondaryblackColor;
                
                
                
            }


            



            
    
    
        }
    
        &__link:hover,
        &__link:focus {
            color: $primaryColor;
    
        }
    
        .current::after {
            @media screen and (max-width:767px) {
            display: none;
            
            
                }



            @media screen and (min-width: 768px) {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-size: cover;
                    background-color: $primaryColor;
                    border-radius: 2px;
                    margin-top: 44px;
                    background-image: url(../images/hover.png);
                    opacity: 0;
                    
            
            
                }



            @media screen and (min-width: 1200px) {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-size: cover;
                    background-color: $primaryColor;
                    border-radius: 2px;
                    margin-top: 44px;
                    background-image: url(../images/hover.png);
                    
            
            
                }




        }
    
        


           


                
          
        

}























.header-contacts {
    
   
    
    &__list {
        

        @media screen and (max-width: 767px) {
                display: flex;
                flex-direction: column-reverse;
                margin: 0;
            }
        
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                display: flex;
                flex-direction: column;
            }
        
            @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            
            


            
            @media screen and (min-width:768px) {
                    display: block;
                    text-align: center;
                    padding-left: 0;
                    margin-left: 96px;
                    margin-top: 30px;
                    
                    
            
            
            
                }


           
           
            @media screen and (min-width:1200px) {
                display: flex;
                align-items: center;
                padding-left: 0;
                margin-left: 246px;
                margin-top: 37px;
                

                
                
            }



            
            
    
        }
    
        &__item {
            
            

            



            @media screen and (min-width:768px) {
                    text-align: center;
                    justify-content: center;
                    margin-bottom: 10px;
            
            
            
                }
            


            @media screen and (min-width:1200px) {
                    text-align: center;
                    justify-content: center;
                    margin-right: 50px;
            
            
            
                }


                



    
    
        }





                
    
    
       @media screen and (max-width:768px) {
        &__item:last-child {
            margin-right: 0;
            margin-bottom: 32px;
            
    
        }
    }


        @media screen and (min-width:1200px) {
            &__item:last-child {
                margin-right: 0;
                
    
    
            }
        }



        


         @media screen and (max-width:767px) {
            .header-contacts__item:first-child {
                margin-bottom: 64px;
                
            } 
        }
    
    
        &__link {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 24px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: $greyColor;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


           


            @media screen and (min-width:768px) {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 12px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    text-decoration: none;
                    color: $greyColor;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
                }



            
            
            
            @media screen and (min-width:1200px) {
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 1.1;
              letter-spacing: 0.02em;
              text-decoration: none;
              color: $greyColor;
              transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            }  



            




    
    
    
        }
    
    
        &__link:hover,
        &__link:focus {
            color: $primaryColor;
            fill: currentColor;
    
        }
    
        &__phone { 
            @media screen and (max-width:767px) {
                    display: none;
            
            
                }

            
            



            @media screen and (min-width:768px) {
                    justify-content: center;
                    align-items: center;
                    fill: $greyColor;
                    padding: 0;
                    margin-right: 10px;
                    fill: currentColor;
                    width: 10px;
                    height: 16px;
                    
            
                }




            @media screen and (min-width:1200px) {
                    justify-content: center;
                    align-items: center;
                    fill: $greyColor;
                    padding: 0;
                    margin-right: 10px;
                    fill: currentColor;
                    width: 10px;
                    height: 16px;
            
                }
            
            

            
    
        }
    
        &__mail { 

            @media screen and (max-width:767px) {
                display: none;
            }


            @media screen and (min-width:768px) {
                justify-content: center;
                align-items: center;
                fill: $greyColor;
                padding: 0;
                margin-right: 10px;
                fill: currentColor;
                width: 16px;
                height: 12px;

            }

            



             
            @media screen and (min-width:1200px) {
            justify-content: center;
            align-items: center;
            fill: $greyColor;
            padding: 0;
            margin-right: 10px;
            fill: currentColor;
            width: 16px;
            height: 12px;
    
        }

}



 .header-contacts__link--accent {
     @media screen and (max-width: 767px) {
         color: #2196F3;
         font-size: 34px;
         line-height: 1.18;
     }


 }





.header-social__networks {
    display: flex;
    


    .header-social__networks-item + .header-social__networks-item {
        border-left: 1px solid rgba(33, 33, 33, 0.2);

    }

   


    &-link {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500px;
        font-size: 18px;
        line-height: 1.2;           
        letter-spacing: 0.02em;        
        color: #2196F3;
        text-decoration: none;
        


        


        @media screen and (min-width:767px) {
        display: none;
    }

        
        

    }


    &-item{
        padding-left: 10px;
        padding-right: 10px;
    }

        &-item:first-child {
            padding-left: 0px;
    
        }


}

 


}