

$primaryColor: #2196F3;
$whiteColor: #ECECEC;
$blackColor: #000000;
$secondaryblackColor: #212121;
$greyColor: #757575;




.header {
    border-bottom: 1px solid $whiteColor;



    &-inner {
        display: inline-flex;
        height: 80px;
        align-items: center;
    
    }

}

%logostyle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

}



.logo {
    @extend %logostyle;
    margin-right: 93px;
    color: $blackColor;

    &-lable {
        @extend %logostyle;
        color: $primaryColor;
    
    
    }


}

%navstyles {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;

}


 
.nav {
    padding-left: 0;
    margin: 0;

    & &__link {
            position: relative;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
           
    
        &__item {
            display: inline-flex;
            margin-right: 50px;
    
        }
    
        &__item:last-child {
            margin-right: 0;
    
        }
    
        &__link {
            @extend %navstyles;
            color: $secondaryblackColor;
            
    
    
        }
    
        &__link:hover,
        &__link:focus {
            color: &primaryColor;
    
        }
    
        .current {
            color: $primaryColor;
        }
    
        .current::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-size: cover;
            background-color: $primaryColor;
            border-radius: 2px;
            margin-top: 43px;
            background-image: url(../images/hover.png);
    
        }

}

%contactstyle {
    justify-content: center;
    align-items: center;
    fill: $greyColor;
    padding: 0;
    margin-right: 10px;
    fill: currentColor;

}


.header-contacts {
    
    &__list {
            display: inline-flex;
            text-align: center;
            padding-left: 0;
            margin-left: 273px;
            margin-top: 32px;
            margin-bottom: 32px;
    
        }
    
        &__item {
            display: inline-flex;
            text-align: center;
            justify-content: center;
            margin-right: 50px;
    
    
        }
    
    
        &__item:last-child {
            margin-right: 0;
    
        }
    
    
        &__link {
            @extend %navstyles;
            color: $greyColor;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
        }
    
    
        &__link:hover,
        &__link:focus {
            color: $primaryColor;
            fill: currentColor;
    
        }
    
        &__phone {    
            @extend %contactstyle;
            width: 10px;
            height: 16px;
    
        }
    
        &__mail {    
            @extend %contactstyle;
            width: 16px;
            height: 12px;
    
        }

}

