
$primaryColor: #FFFFFF;
$secondaryColor: #2196F3;

%herostyles {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
}

.hero-section {
    background-color: #2F303A;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img111.jpg);

    &__button {
        @extend %herostyles;
        padding: 10px 32px;        
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        display: flex;
        align-items: center;             
        color: $primaryColor;
        background-color: $secondaryColor;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        
    }


    &__text {
        @extend %herostyles;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;       
        text-transform: uppercase;
        color: $primaryColor;
        max-width: 696px;        
        margin-bottom: 30px;


    }


}






