
$primaryColor: #FFFFFF;
$secondaryColor: #2196F3;

%herostyles {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
}

$hero-image-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.hero-section {
    background-color: #2F303A;
    
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-image: $hero-image-gradient, url(../images/img111.jpg);
    
    
    @media screen and (max-width: 479px) {
            max-width: 480px;
            background-image: $hero-image-gradient,
                url(../images/img111.jpg);
        }
    
    @media screen and (max-width: 479px) and (min-device-pixel-ratio: 2),
        screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (max-width: 479px) and (min-resolution: 192dpi),
        screen and (max-width: 479px) and (min-resolution: 2dppx) {
            background-image: $hero-image-gradient,
                url(../images/img111@2x.jpg);
    }
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        max-width: 768px;
        background-image: $hero-image-gradient,
        url(../images/img111.jpg);
    }
    
    @media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi),
        screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
        background-image: $hero-image-gradient,
        url(../images/img111@2x.jpg);
    }
    
    @media screen and (min-width: 768px) {
        max-width: 1600px;
        background-image: $hero-image-gradient,
        url(../images/img111.jpg);
    }
    
    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) {
        background-image: $hero-image-gradient,
        url(../images/img111@2x.jpg);
    }
    
    
    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    }





    &__button {
        @extend %herostyles;
        padding: 10px 32px;        
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        display: flex;
        align-items: center;             
        color: $primaryColor;
        background-color: $secondaryColor;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        
    }


    &__text {
        @extend %herostyles;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;       
        text-transform: uppercase;
        color: $primaryColor;                
        margin-bottom: 30px;


        @media screen and (min-width: 1200px) {
            width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }


    }





}









