$whiteColor: #FFFFFF;
$secondarywhiteColor: #F5F4FA;
$blackColor: #212121;
$primaryColor: #757575;
$secondaryColor: #AFB1B8;
$bleuColor: #2196F3;

 



.team {
    background-color: $secondarywhiteColor;
    

    &-list {
            
        @media screen and (min-width:480px) {
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;
                
        
            }
        
        
        
            @media screen and (min-width:768px) {
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;

                
        
            }
        
        
        display: flex;
            justify-content: space-between;
            padding-left: 0;
            margin-top: 50px;
            margin-bottom: 0;


    
        }
    
        &-title {
            
            @media screen and (min-width:480px) {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 1.2;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: $blackColor;
                    margin: 0 auto;
            
                }
            
            
            
            
            @media screen and (min-width:768px) {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 28px;
                line-height: 1.2;
                text-align: center;
                letter-spacing: 0.03em;
                color: $blackColor;
                margin: 0 auto;
            
            }
            
            
            
            @media screen and (min-width:1200px) {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;
            color: $blackColor;
            margin: 0 auto;
    
        }
    }
}





.team-list {
    &__card {   
        width: 270px;
        height: 428px;
        left: 215px;
        top: 1635px;
        background: $whiteColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
        
    }
    
    
    &__name {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $blackColor;
        margin-bottom: 10px;
        margin-top: 30px;
    
        }
    
    &__job {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $primaryColor;
        margin-top: 10px;
    
    }

}



.job-contact {
    display: flex;
    list-style: none;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 16px;
    justify-content: space-between;



    &__network-image {
            width: 20px;
            height: 20px;
            color: $whiteColor;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
    
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            background-color: $whiteColor;
            fill: $secondaryColor;
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
    
        &__link:hover,
        &__link:focus {
            background-color: $bleuColor;
            fill: currentColor;
    
        }

}



@media screen and (min-width: 480px) and (max-width: 767px) {

     .team-list__card {
        width: 450px;
        margin-bottom: 30px;


    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    
        .team-list__card {
        flex-basis: calc(50% - 30px);
        margin-bottom: 30px;



    }
}



@media screen and (min-width: 1200px) {

    
        .team-list__card {
        flex-basis: calc(25% - 30px);



    }

}