*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a:active,
a:focus {
    outline: none;
}


ul li {
    list-style: none;
    padding-left: 0;
}

section {
    
    padding-bottom: 60px;
    padding-top: 60px;
    margin: 0;


   

}


 @media screen and (max-width:767px) {
     .section {
        padding-top: 94px;
        padding-bottom: 94px;
        margin: 0;

     }
 }

a:active,
a:focus {
    outline: none;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}